ASTRA_BUNDLE_PATH=./secure-connect-petmatch.zip
ASTRA_TOKEN=AstraCS:...
ASTRA_KEYSPACE=petmatch
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
MONGO_URI=mongodb+srv://danteandre2005_db_user:XqX4eCveVIfuY6e8@cluster0.9kyytck.mongodb.net/petmatch?appName=Cluster0
MONGO_DB=petmatch